*{
	margin: 0;
	padding: 0;
}
#footer-area{
	background: #2f3542;
}
.footer-area{
	color: #fff;
	text-align: center;
	padding: 50px;
}
.footer-area h1{
	font-size: 50px;
	font-weight: 550px;
}
.footer-icon{
	display: flex;
	justify-content: center;
	margin: 50px 0;
}
.ficon{
	color: #fff;
	font-size: 25px;
	margin: 0 20px;
}
footer{
	background: #353b48;
	text-align: center;
}
footer p{
	padding: 25px 0;
	color: #fff;

}
footer a{
	color: #6a89cc;
	transition: .5s;

}
footer a:hover{
	color: #70a1ff;
	text-decoration: none;

}

/* ---media--- */
@media(max-width: 576px){
	.offer-section div h1{
		font-size: 35px;
	}
	
}